* {
	border: 1px red solid;
}

body {
	border: 2px orange dashed;
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Header */
header {
	border: 3px purple solid;
	display: flex;
	justify-content: space-evenly;
	height: 25vh;
	width: 100vw;
}

.game-status,
.player-status {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25%;
}

.player-status {
	flex-direction: column;
}

.winner-token,
.turn-token {
	height: 50px;
	width: 50px;
}


/* Game Board */
.game-board {
	border: 2px green dashed;
	background-color: aqua;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	width: 66%;
	height: 66%;
}

.board-row {
	border: 2px blue dashed;
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
}

.board-space {
	aspect-ratio: 1/1;
	height: 100%;
	display: flex;
}

