* {
	font-family: 'Prompt', sans-serif;
}

body {
	background-image: linear-gradient(yellow, rgb(255, 168, 6));
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	font-size: 20px;
}

/* Header */
header {
	display: flex;
	justify-content: space-evenly;
	height: 30vh;
	width: 100vw;
}


.game-status{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 25%;
}

.player-status {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 25%;
	padding-top: 15px;
}

.game-end-display{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.turn-display {
	display: flex;
	justify-content: center;
	width: 100%;
}

.winner-token,
.turn-token {
	height: 60px;
}

.status-token {
	height: 100px;
}


/* Game Board */
.game-board {
	background: url(./assets/arena.png) center no-repeat;
	background-size: 500px;
	background-position-x: 48%;
	background-position-y: 52%;
	overflow: visible;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 66%;
	height: 100%;
}

.board-row {
	width: 490px;
	height: 135px;
	display: flex;
	justify-content: center;
	margin: 0;
}

.board-space {
	aspect-ratio: 1/1;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board-token {
	height: 75px;
}

.sq-zero,
.sq-one,
.sq-two {
	border-bottom: 4px darkgray solid;
}

.sq-six,
.sq-seven,
.sq-eight {
	border-top: 4px darkgray solid;
}

.sq-zero,
.sq-three,
.sq-six {
	border-right: 4px darkgray solid;
}

.sq-two,
.sq-five,
.sq-eight {
	border-left: 4px darkgray solid;
}

.hidden{
	display: none;
}