* {
	font-family: 'Prompt', sans-serif;
}

header {
	display: flex;
	justify-content: center;
	height: 30vh;
	width: 100vw;
}

body {
	background-image: linear-gradient(yellow, rgb(255, 168, 6));
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	font-size: 20px;
}

.player-status,
.game-status,
.turn-display,
.game-end-display,
.game-board,
.board-row,
.board-space {
	display: flex;
	justify-content: center;
}

.player-status,
.game-status,
.game-end-display,
.game-board,
.board-space {
	align-items: center;
}

.player-status {
	flex-direction: column;
	width: 25%;
	padding-top: 15px;
}
.game-status {
	width: 25%;
}

.turn-display {
	width: 100%;
}

.game-end-display {
	width: 100%;
	height: 100%;
}

.winner-token,
.turn-token {
	height: 60px;
}

.status-token {
	height: 100px;
}

.game-action{
	background: url(./assets/arena.png) center no-repeat;
	background-size: 500px;
	background-position-x: 48%;
	background-position-y: 52%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
	width: 66%;
	height: 100%;
}
.game-board {
	overflow: visible;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.winner-display{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 60%;
	
}

.winner-big-token{
	height: 175px;
}

.winner-text{
	font-size:60px ;
	margin: 5px;
}

.board-row {
	width: 490px;
	height: 135px;
	margin: 0;
}

.board-space {
	aspect-ratio: 1/1;
	height: 100%;
	cursor: pointer;
	overflow: visible;
}

.board-token {
	height: 75px;
}

.shimmy {
	animation: shimmy .15s;
	animation-iteration-count: 4;
}

@keyframes shimmy {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(10deg); }
	50% { transform: rotate(0deg); }
	75% { transform: rotate(-10deg); }
	100% { transform: rotate(0deg); }	
}

.occupied {
	cursor: default;
}

.sq-zero,
.sq-one,
.sq-two {
	border-bottom: 4px darkgray solid;
}

.sq-six,
.sq-seven,
.sq-eight {
	border-top: 4px darkgray solid;
}

.sq-zero,
.sq-three,
.sq-six {
	border-right: 4px darkgray solid;
}

.sq-two,
.sq-five,
.sq-eight {
	border-left: 4px darkgray solid;
}

.hidden {
	display: none;
}